*{margin: 0;
padding: 0;
box-sizing: border-box;}

/* header section */
#heading{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: #3498db;
    background-color: #F6F09F;
    width: 100%;
    font-size: 5vw;
font-family: "Lora", serif;
}
#heading span{
    color: #95a5a6;
   font-weight: bold;
     font-size: 7vw;
       font-family: "Archivo Black", sans-serif;
}
header #darkButton{
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
      font-family: "Slabo 27px", serif;
      font-size: 1.5vw;
}

header #darkButton:hover{
background-color: #8e44ad;
color: black;
}

header #lightButton{
    position: absolute;
    left: 5px;
    top: 5px;
     padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    cursor: pointer;
      font-family: "Slabo 27px", serif;
      font-size: 1.5vw;
}

header #lightButton:hover{
background-color: #1e49ad;
color: white;
}
/* hero section */
#hero{
    width: 100%;
  height: 800px;
    background-color: #B35656;
    position: relative;
}
#hero h2{
   position: absolute; 
   top: 30%;
   left: 50%;
   transform: translate(-50%);
    text-transform: capitalize;
    font-size: 2.5vw;
    font-family: "Merriweather", serif;
}
#hero h2 span{
    color: #8e44ad;
    font-size: 3.7vw;
    background-color: blue;
}
#hero p{
      position: absolute; 
   top: 45%;
   left: 50%;
   transform: translate(-50%);
   text-transform: capitalize;
       font-size: 1.5vw;
        font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  
}

#hero p span{
    color: #f39c12;
    background-color:#16a085;
    font-size: 2vw;
}
#hero button{
      position: absolute; 
   top: 65%;
   left: 50%;
   transform: translate(-50%);
   padding: 10px 20px;
   background-color: black;
   color: white;
   border: none;
   border-radius: 100px;
   cursor: pointer;
}
#hero button:hover{
    background-color: #8e44ad;
color: black;
}



